<div id="whole_page">
    <div id="logo">
        <%= link_to top_index_path do %>
            <%= image_tag 'logo2.png' %>
        <% end %>
    </div>
    
    <div id="title1">
        <p>プレイリスト</p>
    </div>
    
    <div id="playlists">
        <% @playlists.each do |playlist| %>
            <div class="playlist" data-id="<%= playlist.id %>">
                <div class="select-playlist-wrapper">
                    <%= button_to "", playlists_index_path(id: playlist.id), method: 'post', class: "select-playlist" %>
                </div>
                <div id="playlist_thumbnail">
                    <% if playlist.image.attached? %>
                      <%= image_tag playlist.image %>
                    <% end %>
                </div>
                <div id="playlist_name_area">
                    <div id="playlist_name">
                        <%= playlist.playlistname %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    
    <div id="create_playlist_button">
        <%= button_to "新しくプレイリストを作成", playlists_new_path, class: "create-new-playlist" %>
    </div>

    <div id="all_songs">
        <div id="title1">
            <p>曲の検索</p>
        </div>
        <!--<div id="upload_button">-->
        <!--    <%= link_to songs_new_path do %>-->
        <!--        <%= image_tag 'upload.svg' %>-->
        <!--    <% end %>-->
        <!--</div>-->
    </div>
    
    <div class="menu">
        <div class="search_by_songname">
            <%= form_with(url: songs_search_songs_path, method: :post) do |form| %>
                <div class="search_songname_text">
                    <%= form.text_area :songname, class: 'src_form', rows: 1, id: "centered_text_area" %><br>
                </div>
                <div class="sbt_button_area1">
                    <%= form.submit "Search", class: 'sbt_button1' %>
                </div>
            <% end %>
        </div>
    </div>
</div>