<div class="login">
    <div id="whole_page">
            
        <div id="logo">
            <%= link_to top_index_path do %>
                <%= image_tag 'logo2.png' %>
            <% end %>
        </div>
            
        <%= form_tag '/users/login', method: :post, data: { turbo: false } do %>
            <div class~"form-group">
                <%= label_tag :username, 'ユーザーの名前：' %>
                <%= text_field_tag :username, class: 'form-control'%>
                <!--<%= text_field_tag :username %><br>-->
            </div>
                
            <div>
                <%= label_tag :password, 'パスワード：' %>
                <%= password_field_tag :password, class: 'form-control' %><br>
            </div>
                    
                    
            <%= submit_tag 'ログイン', class: 'btn btn-primary btn-block'%>
        <% end %>
            
            
        <%= link_to "新規登録はこちら", users_new_path, class: 'mt-3 d-block text-center' %>
    </div>
</div>