<div class="login">
<div class="custom_body"></div>
    
    <div class="gred"></div>
    
    <div id="whole_page">
            
        <div id="logo">
            <%= link_to top_index_path do %>
                <%= image_tag 'logo2.png' %>
            <% end %>
        </div>
        
        <div class="header">
              <div>Sound<span>Sculpt</span></div>
        </div>
        <br>
        
        <div class="loginpage">
        <%= form_tag '/users/login', method: :post, data: { turbo: false } do %>
        <%= label_tag :username, 'ユーザーの名前：' %>
        
        <!--<%= text_field_tag :username, nil, placeholder: 'ユーザーの名前' %>-->
        
        <%= text_field_tag :username %><br>
        <%= label_tag :password, 'パスワード：' %>
        <%= password_field_tag :password %><br>
        <!--<%= submit_tag 'ログイン' %>-->
        <%= submit_tag 'ログイン', class: 'btn btn--red btn--radius btn--cubic' %>
        <% end %>
    
        <%= link_to "新規登録はこちら", users_new_path%>
        </div>
    </div>
</div> 