<h1>新規登録します</h1>


<%= form_tag '/users/make', method: :post, data: { turbo: false } do %>
    <%= label_tag :username, 'ユーザーID' %>
    <%= text_field_tag :username %><br>
    <%= label_tag :password, 'パスワード' %>
    <%= password_field_tag :password %><br>
    <%= submit_tag '登録'%><br>
<% end %>