<div id="whole_page">
    <div id="logo">
        <%= link_to top_index_path do %>
            <%= image_tag 'logo2.png' %>
        <% end %>
    </div>
    
    <div class="songs_search">
        <% @track_list.each do |track| %>
            <div class="thumbnail_search">
                <%= image_tag track.album.images.first["url"] %>
            </div>
            <div class="songname_search">
                <%= track.name %>
            </div>
            <div class="artistname_search">
                <%= track.artists[0].name %>
            </div>
            <div class="play_button_area">
                <%= button_to "再生する", songs_index_path(uri: track.uri), class: "play_button" %>
                <%= button_to "プレイリストに追加する", playlists_add_select_path(uri: track.uri), class: "play_button" %>
            </div>
        <% end %>
    </div>
    <%= @tracks %>
</div>