<div id="whole_page">
    <div id="logo">
        <%= link_to top_index_path do %>
            <%= image_tag 'logo2.png' %>
        <% end %>
    </div>
    
    <%= @songname1 %>
    <%= @artistname1 %><br>
    
    <%= @songname2 %>
    <%= @artistname2 %><br>
    
    <%= @songname3 %>
    <%= @artistname3 %><br>
    
    <%= @songname4 %>
    <%= @artistname4 %><br>
    
    <%= @songname5 %>
    <%= @artistname5 %><br>
    
    <%= @tracks %>
</div>