<div id="whole_page">
    <div id="logo">
        <%= link_to top_index_path do %>
            <%= image_tag 'logo2.png' %>
        <% end %>
    </div>
    
    <div id="title3">
        <p>検索結果: <%= params[:songname] %></p>
    </div>
    
    <div id="playlist_songs_pi">
        <div id="playlist_song_pi">
            <% @track_list.each do |track| %>
                <div class="playlistsong" data-id="<%= track.uri %>">
                    <div class="select-playlistsong-wrapper">
                        <%= button_to "", songs_index_path(uri: track.uri.match(/spotify:track:(\w+)/)&.captures&.first), class: "select-song" %>
                    </div>
                    <div id="playlistsong_song_area">
                        <div id="playlistsong_thumbnail">
                            <%= image_tag track.album.images.first["url"] %>
                        </div>
                        <div id="playlistsong_text_area">
                            <div id="playlistsong_songname_area">
                                <div id="playlistsong_songname">
                                    <%= track.name %>
                                </div>
                            </div>
                            <div id="playlistsong_artistname_area">
                                <div id="playlistsong_songname">
                                    <%= track.artists[0].name %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play_button_area">
                    <%= button_to playlists_add_select_path(uri: track.uri, songname: track.name, artistname: track.artists[0].name, image: track.album.images.first["url"]), class: "rtp_button2" do %>
                        <%= image_tag 'plus-icon.svg'%>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
