<div id="whole_page">
    <div id="logo">
        <%= link_to top_index_path do %>
            <%= image_tag 'logo2.png' %>
        <% end %>
    </div>
    
    <div id="playlist_area_pi">
        <% if @selected_playlist.image.attached? %>
            <div id="playlist_top_pi">
                <div id="playlist_thumbnail_pi">
                    <%= image_tag @selected_playlist.image %>
                </div>
                <div id="playlist_name_area_pi">
                    <div id="playlist_name_pi">
                        <p><%= @selected_playlist.playlistname %></p>
                    </div>
                </div>
            </div>
            
            <div id="playlist_songs_pi">
                <div id="playlist_song_pi">
                    <% @playlistsongs.each do |playlistsong| %>
                        <div class="playlistsong" data-id="<%= playlistsong.id %>">
                            <div class="select-playlistsong-wrapper">
                                <%= button_to "", songs_index_path(uri: playlistsong.songuri), method: 'post', class: "select-song" %>
                            </div>
                            <div id="playlistsong_song_area">
                                <div id="playlistsong_thumbnail">
                                    <%= image_tag playlistsong.image %>
                                </div>
                                <div id = "playlistsong_text_area">
                                    <div id="playlistsong_songname_area">
                                        <div id="playlistsong_songname">
                                            <%= playlistsong.songname %>
                                        </div>
                                    </div>
                                    <div id="playlistsong_artistname_area">
                                        <div id="playlistsong_songname">
                                            <%= playlistsong.artistname %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
