<div id="whole_page">
  <div id="logo">
        <%= image_tag 'logo2.png' %>
  </div>
  <div id="title2">
    <p>新規プレイリスト作成</p>
  </div>
  
  <div class="new_form">
    <%= form_with model: @playlist, local: true, html: { class: 'playlist-form' } do |form| %>
      <div class="playlistname">
        <%= form.label :playlistname, "プレイリスト名", class: 'font' %><br>
      </div>
      <div class="playlistname_text">
        <%= form.text_area :playlistname, class: 'pln_form', rows: 1, id: "centered_text_area" %><br>
      </div>
      <div class="upload_image_sign">
        <%= form.label :upload_image_sign, "写真を選択", class: 'font' %><br>
      </div>
      <div class="upload_image">
        <%= form.file_field :image, class: 'upi_button' %><br>
      </div>
      <div class="submit_btn">
        <%= form.submit "新しく作成", class: 'sbt_button' %>
      </div>
    <% end %>
  </div>
</div>